/* COLORS */
.show-more-product-container:hover a, .show-more-product-container:hover span {
    color: #03a9f4;
}
.wrapper-other .login-single .login-panel .login-register .register-link {
    color: #03a9f4;
}

.wrapper-other .login-single .login-panel .forgot-password {
    color: #03a9f4;
}

.checkout-progress-indicator .selected div {
    background: #03a9f4;
    color: #ffffff;
}

a:hover {
	color: #03a9f4;
}

.myaccount .dropdown-menu li:hover {
  background-color: #03a9f4;
}

.mediamodal .modalcontent .modaltable table tr.selected {
    background-color: #03a9f4 !important;
}

.checkout-page .checkout-container .checkout-shipment .shipping-misc .add-another-recipent .add-another-recipent-link:hover {
	background-color: #03a9f4;
}

.checkout-page .checkout-container .checkout-shipment .shipping-address-readonly a.edit {
    color: #03a9f4;
}

.btn:hover, .btn-myaccount {
	background-color: #5e5e5e;
}

.modal .modal-footer .OK-button {
    background: #03a9f4;
}

.btn:hover, .btn-myaccount:hover {
	background-color: #5e5e5e;
}

.checkout-page .checkout-container .checkout-shipment .shipping-address-edit a.add-from-address-book {
    color: #03a9f4;
}

.product-customization-wrapper .product-customization-filespanel .files-holder .dropdown-menu > .fileoptions-list {
    border-top: 3px solid #03a9f4;
}

.product-customization-wrapper .product-customization-filespanel .files-holder .dropdown-menu > .fileoptions-list li:hover {
background-color: #03a9f4;
}

.register-page-content .password-info a, .register-page-content .company-info a, .register-page-content .terms-info a:hover {
    color: #03a9f4;
}

.cart-page .cart-misc-container .due-date-selector a.due-date-picker {
    color: #03a9f4;
}

.checkout-page .checkout-container .checkout-shipment .shipping-misc .add-another-recipent .dropdown-menu > .add-another-recipent-list li:hover {
    background: #03a9f4;
}

.product-customization-wrapper .product-customization-printoptionspanel .printoptions-sidebarmenu ul .category-info-for-ipad {
    border-top: 3px solid #03a9f4;
}

.product-customization-wrapper .product-customization-printoptionspanel .printoptions-sidebarmenu ul li a.selectedoption {
    background: #03a9f4;
}

.checkout-page .checkout-container .checkout-shipment .shipping-misc .add-another-recipent .dropdown-menu > .add-another-recipent-list {
	border: 1px solid #d8d8d8;
}

.category-actions .btn {
    background: #03a9f4;
}

.modal .modalcontent .modaltable table .info-text {
    font-size: 11px;
    color: #53a071
}

.category-side-bar-list .selected {
    background: #03a9f4;
}

.category-side-bar-list li a:hover {
    background: #03a9f4;
}

.priceAnimation {
    color: #43a047;
}

button {
    background: #03a9f4;
}

.left-frame .login-panel .forgot-password {
    color: #03a9f4;
}

.left-frame .login-panel .login-register .register-link {
    color: #03a9f4;
}

.product-actions .btn {
    background: #03a9f4;
}

.btn, .btn-myaccount {
    background: #03a9f4;
}

.modal {
    border-top: 4px solid #03a9f4;
}

.login-panel .forgot-password {
    color: #03a9f4;
}

.login-panel .login-register .register-link {
    color: #03a9f4;
}

.flex-popup-wrapper {
    color: #03a9f4;
}

.product-customization-wrapper {
    border-bottom: 4px solid #03a9f4;
}

.product-details-page-actions .btn {
    background: #03a9f4;
}

.product-details-page-actions .btn-secondary {
    background: #cccccc;
}

.product-details-page .product-preview-link a {
    text-decoration: underline;
    color: #03a9f4;
}

.product-customization-wrapper .product-customization-header {
    border-top: 4px solid #03a9f4;
}

.product-customization-wrapper .product-customization-footer .button-container .add-to-cart-button {
    background: #03a9f4;
}

.product-customization-wrapper .product-customization-footer .button-container .add-to-cart-button:hover {
	background-color: #5e5e5e;
}

.product-customization-wrapper .product-customization-filespanel {
    border-top: 4px solid #03a9f4;
}

.product-customization-wrapper .product-customization-header .header-label {
    color: #333;
}

.modal .modalcontent .modaltable table .default:hover {
  background-color: lightgray;
}

.product-customization-wrapper .product-customization-jobpanel {
    border-top: 4px solid #03a9f4;
}

.modal a:hover {
    color:#03a9f4;
}

.checkout-page .checkout-page-title span {
    color: #333;
}

.product-customization-wrapper .product-customization-printoptionspanel {
    border-top: 4px solid #03a9f4;
}

.product-customization-wrapper .product-customization-previewarea-toolbar .btnselected {
    color: #03a9f4;
}

.product-customization-wrapper .product-customization-header .save-job a:hover, .product-customization-wrapper .product-customization-header .review-job a:hover, .product-customization-wrapper .product-customization-header .help a:hover, .product-customization-wrapper .product-customization-header .split-window a:hover, .product-customization-wrapper .product-customization-header .close a:hover {
    background: #03a9f4;
}

.product-customization-wrapper .product-customization-previewarea-toolbar .btnselected:hover {
  color: #03a9f4;
}

.cart-floating-actions .cart-checkout-button {
    background: #03A9F3;
}

.cart-page .cart-misc-container .calendar-container .calendarBackdrop table .week-day th {
    color: #03a9f4;
}

.cart-page .cart-misc-container .calendar-container .save-date-time {
    background: #03a9f4;
}

.cart-page .cart-misc-container .calendar-container .calendarBackdrop .btn-info {
    background: #03a9f4;
}

.product-customization-wrapper .smartcanvas-right-top-panel .btnselected {
    color: #03a9f4;
}

.product-customization-wrapper .smartcanvas-right-top-panel .btnselected:hover {
    color: #03a9f4;
}

.product-customization-wrapper .expand-collpase-panel {
    background-color:  #03a9f4;
}

.product-customization-wrapper .smartcanvas-right-top-panel .top-section1 .smartcanvas-collapse-icon {
    background: #03a9f4;
}
.product-customization-wrapper .product-customization-personalization-panel .personalization-panel-title-holder {
    border-top: 4px solid #03a9f4;
}

.product-customization-wrapper .smartcanvas-tabs-container .smartcanvas-tabs-nav .arrow-up-edit {
    border-bottom: 5px solid #03a9f4;
}

.product-customization-wrapper .smartcanvas-tabs-container {
    border-top: 4px solid #03a9f4;
}

/* HIDING STUFF */
.product-customization-wrapper .product-customization-header .help {
  display: none;
}

.footer {
display: none;
}

.wrapper-other .login-single .error-content {
    display: none;
}

.wrapper-other .footer-login {
    display: none;
}

.product-details-page-description {
    margin-bottom: 0px;
    display: none;
}

/* FIXING STUFF */
.logo img {
    max-height: 100px;
}

.product-item {
    width: 48%;
}
.product-customization-wrapper .product-customization-filespanel .add-files .add-files-link {
    font-size: 20px;
    line-height: 40px;
}
.modal .modalcontent .modaltable table td {
    cursor: pointer;
}
.wrapper-other .login-single .logo {
    width: 92%;
    margin: 0 auto;
}
.wrapper-other .login-single {

    width: 400px;
}
.wrapper-other {
    height: 525px !important;
}
.categtory-page-image {
	display: none !important;
}

/* CHANGE BG IMAGE */
body {
background-image: url("https://www.homemountain.com/images/slider/swiper/1.jpg");
}

.cart-page .cart-page-title span {
    color: #333;
}

.cart-page .cart-misc-container .calendar-container .calendarBackdrop button[disabled="disabled"]:hover {
    background-color: lightblue;
}
.cart-page .line-item-actions a {
    color: #03a9f4;
}
.cart-page .cart-misc-container .calendar-container .calendarBackdrop .btn:hover {
    color: #ffffff;
    background: #03a9f4;
}
.cart-page .cart-misc-container .calendar-container .calendarBackdrop .btn-rush {
    background: pink;
}
.cart-page .line-item-actions a:hover {
    color: #03a9f4;
}
.product-customization-wrapper .product-customization-filespanel .add-files .add-files-link {
    background-color: #03a9f4;
}
.cart-page .cart-misc-container .calendar-container .calendarBackdrop .legend span {
    border-left: 15px solid pink;
}
.cart-page .cart-misc-container .calendar-container .calendarBackdrop .muted {
    color: #ababab;
}
.cart-page .cart-misc-container .calendar-container .calendarBackdrop .btn-info {
    color: #ffffff;
    background: #03a9f4 !important;
}

/* HIDING STUFF */
.product-customization-wrapper .product-customization-header .help {
  display: none;
}
.footer {
display: none;
}
.wrapper-other .login-single .error-content {
    display: none;
}
.wrapper-other .footer-login {
    display: none;
}
.product-details-page-description {
    margin-bottom: 0px;
    display: none;
}
.category-actions {
    display: none;
}

.category-description {
    display: none;
}

.category-actions .btn {
    display: none;
}

/* FIXING STUFF */
.logo img {
    max-height: 100px;
}

.product-item {
    width: 48%;
}
.product-customization-wrapper .product-customization-filespanel .add-files .add-files-link {
    font-size: 20px;
    line-height: 40px;
}
.modal .modalcontent .modaltable table td {
    cursor: pointer;
}
.wrapper-other .login-single .logo {
    width: 92%;
    margin: 0 auto;
}
.wrapper-other .login-single {

    width: 400px;
}
.wrapper-other {
    height: 525px !important;
}
.categtory-page-image {
	display: none !important;
	
}
.product-description {
    display: none;
}

.product-uom {
	display: none;

}

.product-actions .btn {
	display:none;
}
						
/* CLASSES FOR BACK TO HOMEMOUNTAIN.COM BUTTON */
.myback {
    cursor: pointer;
    float: left;
    padding: 5px 20px;
    color: #ffffff;
    font-size: 11px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    margin-right: 10px;
    text-transform: uppercase;
}
						
.myback .myback-link {
    display: block;
}

/* MISC DESIGN CUSTOMIZATIONS */						
.product-image {
    height: 200px;
    width: 100%;
    cursor: pointer
}

.product-item {
    text-align: center;
}

.product-title {
	cursor: pointer;
}

.product-title h5 {
	width: 100%;
}

.product-details-page-content {
	float: left;
	display: inline;
	width: 290px;
}

.product-details-page-image img {
    width: auto;
}

.product-details-page-sku {
display: none;
}
	
.product-details-page .modalContent {
    height: auto;
}

.product-details-page .modalContent {
    height: auto;
}

.product-details-page-image img {
    width: auto;
}

.category-image, .product-image {
    width: 100%;
}

.category-image {
    height: 200px;
}

.category-item {
    text-align:center;
}